.App {
  text-align: center;
}
body{
  margin:2rem;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.bookImage {
  float: right;
  width: 70px;
 }
 #moreInfo{
   display:block;
 }

